# Details see: https://www.gatsbyjs.org/docs/environment-variables/
# Find your API keys in the Dashboard: https://dashboard.stripe.com/test/apikeys
GATSBY_STRIPE_PUBLISHABLE_KEY=pk_test_9BHZJ2mEwozAqMH63IHreuBU00vEi3asq5
STRIPE_SECRET_KEY=sk_test_uEVKZItbMv3H9j1HhHMMU93V00X0QDN1Tc
